@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);
body{
  text-align: center;
  background-color: rgb(185, 199, 156);
}
.visuallyhidden{
  color: black;
  font-size: 16px;
  font-weight: bold;
}
::placeholder {
  color: rgb(73, 73, 85); 
}